Análisis de Calidad de Datos YELP

In [26]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from collections import Counter
from scipy import stats

In [3]:
df_business = pd.read_pickle(r'C:\HENRY\PROYECTOS HENRY 11\PROYECTO GRUPAL\Datasets\business.pkl')
df_checkin = pd.read_json(r'C:\HENRY\PROYECTOS HENRY 11\PROYECTO GRUPAL\Datasets\checkin.json', lines=True)
df_tip = pd.read_json(r'C:\HENRY\PROYECTOS HENRY 11\PROYECTO GRUPAL\Datasets\tip.json', lines=True)
df_user = pd.read_parquet(r'C:\HENRY\PROYECTOS HENRY 11\PROYECTO GRUPAL\Datasets\user.parquet')

In [4]:
df_review = pd.read_parquet(r'C:\HENRY\PROYECTOS HENRY 11\PROYECTO GRUPAL\Datasets\df_review.parquet')

<h2 style="color: lightblue;">CALIDAD DE DATOS TABLA BUSINESS </h2>

<h5 style="color: black;">RESUMEN GENERAL<h5> 
<h6>Total de Columnas = 28 <br>
Columnas Duplicadas = 14 <br>
Tipos de Datos = Object 28 columnas<br>
Total Registros = 150346</h6>

<h5 style="color: black;">COMPLETITUD (Resumen de datos faltantes)<h5> 
<h6>Valores faltantes por columna: <br>
No hay valores nulos</h6>

<h5 style="color: black;">CONSISTENCIA (Valores Unicos)<h5> 
<h6>Conteo de valores únicos por columna:<br>
business_id -------150346 <br>
name -------------114117 <br>
address -----------122844 <br>
city ------------------1416 <br>
state -------------------28 <br>
postal_code ---------3362 <br>
latitude -----------135593 <br>
longitude ---------131918 <br>
stars ---------------------9 <br>
review_count --------1158 <br>
is_open ------------------2 <br>
attributes -----------87662 <br>
categories ----------83161 <br>
hours ---------------49823</h6>

<h5 style="color: black;">DUPLICADOS<h5> 
<h6>No hay datos duplicados</h6>

<h5 style="color: black;">VALORES ATÍPICOS (Outliers)<h5> 
<h6>No hay valores atípicos</h6>

<h5 style="color: black;">Recomendaciones<h5> 
<h6>Eliminar Columnas Duplicadas <br>
Asignar tipos de datos a cada columna </h6>

<h2 style="color: lightblue;">CALIDAD DE DATOS TABLA CHECKIN </h2>

<h5 style="color: black;">RESUMEN GENERAL<h5> 
<h6>Total de Columnas = 2 <br>
Tipos de Datos = Object 2 columnas<br>
Total Registros = 131930</h6>

<h5 style="color: black;">COMPLETITUD (Resumen de datos faltantes)<h5> 
<h6>Valores faltantes por columna: <br>
No hay valores nulos</h6>

<h5 style="color: black;">CONSISTENCIA (Valores Unicos)<h5> 
<h6>Conteo de valores únicos por columna:<br>
business_id -------131930 <br>
date ---------------131930 <br>
</h6>

<h5 style="color: black;">DUPLICADOS<h5> 
<h6>No hay datos duplicados</h6>

<h5 style="color: black;">VALORES ATÍPICOS (Outliers)<h5> 
<h6>No hay valores atípicos</h6>

<h5 style="color: black;">Recomendaciones<h5> 
<h6>
Asignar tipos de datos a cada columna </h6>

<h2 style="color: lightblue;">CALIDAD DE DATOS TABLA TIP </h2>

<h5 style="color: black;">RESUMEN GENERAL<h5> 
<h6>Total de Columnas = 5 <br>
Tipos de Datos: <br>
user_id ---------------------object <br>
business_id ----------------object <br>
text -------------------------object <br>
date-------------------datetime64<br>
compliment_count ----------int64<br>
Total Registros = 908915</h6>

<h5 style="color: black;">COMPLETITUD (Resumen de datos faltantes)<h5> 
<h6>Valores faltantes por columna: <br>
No hay valores nulos</h6>

<h5 style="color: black;">CONSISTENCIA (Valores Unicos)<h5> 
<h6>Conteo de valores únicos por columna:<br>
user_id --------------301758 <br>
business_id ---------106193 <br>
text ------------------851033 <br>
date -----------------906694 <br>
compliment_count --------7<br>
</h6>

<h5 style="color: black;">DUPLICADOS<h5> 
<h6>67 datos duplicados</h6>

<h5 style="color: black;">VALORES ATÍPICOS (Outliers)<h5> 
<h6>No hay valores atípicos</h6>

<h5 style="color: black;">Recomendaciones<h5> 
<h6>Eliminar datos Duplicados <br>
 </h6>

<h2 style="color: lightblue;">CALIDAD DE DATOS TABLA USER </h2>

<h5 style="color: black;">RESUMEN GENERAL<h5> 
<h6>Total de Columnas = 22 <br>
Tipos de Datos: <br>
user_id ---------------- object <br>
name ------------------object <br>
review_count -----------int64 <br>
yelping_since ----------object <br>
useful ------------------ int64 <br>
funny ------------------- int64 <br>
cool--------------------- int64 <br>
elite ------------------- object <br>
friends ---------------- object <br>
fans--------------------- int64 <br>
average_stars ---------float64 <br>
compliment_hot -------- int64 <br>
compliment_more ------ int64 <br>
compliment_profile-----  int64 <br>
compliment_cute  ------- int64 <br>
compliment_list --------- int64 <br>
compliment_note ------- int64 <br>
compliment_plain ------- int64 <br>
compliment_cool -------- int64 <br>
compliment_funny ------ int64 <br>
compliment_writer ------ int64 <br>
compliment_photos ------int64 <br>
Total Registros = 2105597</h6>

<h5 style="color: black;">COMPLETITUD (Resumen de datos faltantes)<h5> 
<h6>Valores faltantes por columna: <br>
No hay valores nulos</h6>

<h5 style="color: black;">CONSISTENCIA (Valores Unicos)<h5> 
<h6>Conteo de valores únicos por columna: <br>
user_id ---------------1987897 <br>
name ------------------132361 <br>
review_count ------------1973 <br>
yelping_since --------1980183 <br>
useful --------------------5349 <br>
funny --------------------3757 <br>
cool ----------------------4532 <br>
elite ----------------------1356 <br>
friends ---------------1091999 <br>
fans -----------------------691 <br>
average_stars -------------401 <br>
compliment_hot ---------1312 <br>
compliment_more --------352 <br>
compliment_profile -------345 <br>
compliment_cute ---------308 <br>
compliment_list -----------193 <br>
compliment_note --------1010 <br>
compliment_plain --------1663 <br>
compliment_cool ---------1604 <br>
compliment_funny -------1604 <br>
compliment_writer ---------822 <br>
compliment_photos ------1018 <br>
</h6>

<h5 style="color: black;">DUPLICADOS<h5> 
<h6>117700 datos duplicados</h6>

<h5 style="color: black;">VALORES ATÍPICOS (Outliers)<h5> 
<h6>No hay valores atípicos</h6>

<h5 style="color: black;">Recomendaciones<h5> 
<h6>Eliminar datos Duplicados <br>
 </h6>

<h2 style="color: lightblue;">CALIDAD DE DATOS TABLA REVIEW </h2>

<h5 style="color: black;">RESUMEN GENERAL<h5> 
<h6>Total de Columnas = 9 <br>
Tipos de Datos: <br>
user_id -------------------object <br>
review_id ----------------object <br>
business_id --------------object <br>
date-----------------datetime64<br>
stars -----------------------int64<br>
useful ---------------------int64<br>
funny ---------------------int64<br>
cool -----------------------int64<br>
text ------------------------int64<br>
Total Registros = 6990280</h6>

<h5 style="color: black;">COMPLETITUD (Resumen de datos faltantes)<h5> 
<h6>Valores faltantes por columna: <br>
No hay valores nulos</h6>

<h5 style="color: black;">CONSISTENCIA (Valores Unicos)<h5> 
<h6>Conteo de valores únicos por columna:<br>
user_id ---------------1987929 <br>
business_id -----------150346 <br>
review_id ------------6990280 <br>
date -----------------6885665 <br>
stars -------------------------5<br>
useful ---------------------259<br>
funny ---------------------201<br>
cool -----------------------210<br>
text ------------------6974127<br>
</h6>

<h5 style="color: black;">DUPLICADOS<h5> 
<h6>No hay datos duplicados</h6>

<h5 style="color: black;">VALORES ATÍPICOS (Outliers)<h5> 
<h6>No hay valores atípicos</h6>

<h3 style="color: black;text-align: center">ANÁLISIS</h3>
<h3 style="color: violet;">BUSINESS</h3>

In [4]:
df_business.columns

Index(['business_id', 'name', 'address', 'city', 'state', 'postal_code',
       'latitude', 'longitude', 'stars', 'review_count', 'is_open',
       'attributes', 'categories', 'hours', 'business_id', 'name', 'address',
       'city', 'state', 'postal_code', 'latitude', 'longitude', 'stars',
       'review_count', 'is_open', 'attributes', 'categories', 'hours'],
      dtype='object')

In [9]:
df_business = df_business.loc[:, ~df_business.columns.duplicated()]

In [44]:
df_business.isnull().sum()

business_id     0
name            0
address         0
city            0
state           0
postal_code     0
latitude        0
longitude       0
stars           0
review_count    0
is_open         0
attributes      0
categories      0
hours           0
z_score         0
dtype: int64

In [15]:
df_business.shape

(150346, 14)

In [41]:
df_business.size

2255190

In [10]:
# tipos de datos
tipo_datos_business = df_business.dtypes
print(tipo_datos_business)

business_id     object
name            object
address         object
city            object
state           object
postal_code     object
latitude        object
longitude       object
stars           object
review_count    object
is_open         object
attributes      object
categories      object
hours           object
dtype: object

In [11]:
df_business.describe()

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,attributes,categories,hours
count,150346,150346,150346,150346,150346,150346,150346,150346,150346,150346,150346,150346,150346,150346
unique,150346,114117,122844,1416,28,3362,135593,131918,9,1158,2,87662,83161,49823
top,jV_XOycEzSlTx-65W906pg,Starbucks,,Philadelphia,PA,93101,34.420334,-119.7107494,4.0,5,1,None,"Beauty & Spas, Nail Salons",None
freq,1,724,5127,14569,34039,1866,146,146,31125,14921,119698,13744,1012,23223

In [ ]:
# Convertir columnas con diccionarios a cadenas de texto
for col in df_business:
    df_business.loc[:,col] = df_business[col].astype(str)

unique_counts = df_business.nunique()

print("Conteo de valores únicos por columna:")
print(unique_counts)

Conteo de valores únicos por columna:
business_id     150346
name            114117
address         122844
city              1416
state               28
postal_code       3362
latitude        135593
longitude       131918
stars                9
review_count      1158
is_open              2
attributes       87662
categories       83161
hours            49823
dtype: int64

In [18]:
df_business.duplicated().sum()

np.int64(0)

In [22]:
print(df_business['latitude'].dtype)

float64

Detectar Outliers

In [ ]:
# Convertir la columna 'latitude' a tipo numérico utilizando .loc
df_business.loc[:, 'latitude'] = pd.to_numeric(df_business['latitude'], errors='coerce')

# Verificar el tipo de datos después de la conversión
print(df_business['latitude'].dtype)

# Calcular Z-scores utilizando .loc
df_business.loc[:, 'z_score'] = stats.zscore(df_business['latitude'])

# Detectar outliers
outliers = df_business[(df_business['z_score'] > 3) | (df_business['z_score'] < -3)]

print(outliers)

float64
Empty DataFrame
Columns: [business_id, name, address, city, state, postal_code, latitude, longitude, stars, review_count, is_open, attributes, categories, hours, z_score]
Index: []

In [35]:
# Convertir la columna 'longitude' a tipo numérico utilizando .loc
df_business.loc[:, 'longitude'] = pd.to_numeric(df_business['longitude'], errors='coerce')

# Calcular Z-scores utilizando .loc
df_business.loc[:, 'z_score'] = stats.zscore(df_business['longitude'])

# Detectar outliers
outliers = df_business[(df_business['z_score'] > 3) | (df_business['z_score'] < -3)]

print(outliers)

Empty DataFrame
Columns: [business_id, name, address, city, state, postal_code, latitude, longitude, stars, review_count, is_open, attributes, categories, hours, z_score]
Index: []

<h3 style="color: violet;">CHECKIN</h3>

In [45]:
df_checkin.columns

Index(['business_id', 'date'], dtype='object')

In [46]:
df_checkin.shape

(131930, 2)

In [47]:
# tipos de datos
tipo_datos_checkin = df_checkin.dtypes
print(tipo_datos_checkin)

business_id    object
date           object
dtype: object

In [48]:
df_checkin.isnull().sum()

business_id    0
date           0
dtype: int64

In [49]:
df_checkin.duplicated().sum()

np.int64(0)

In [50]:
unique_counts = df_checkin.nunique()

print("Conteo de valores únicos por columna:")
print(unique_counts)

Conteo de valores únicos por columna:
business_id    131930
date           131930
dtype: int64

In [53]:
df_checkin.describe()

                   business_id                 date
count                   131930               131930
unique                  131930               131930
top     zzyx5x0Z7xXWWvWnZFuxlQ  2015-01-06 17:51:53
freq                         1                    1

<h3 style="color: violet;">TIP</h3>

In [51]:
df_tip.columns

Index(['user_id', 'business_id', 'text', 'date', 'compliment_count'], dtype='object')

In [52]:
df_tip.shape

(908915, 5)

In [54]:
# tipos de datos
tipo_datos_tip = df_tip.dtypes
print(tipo_datos_tip)

user_id                     object
business_id                 object
text                        object
date                datetime64[ns]
compliment_count             int64
dtype: object

In [55]:
df_tip.isnull().sum()

user_id             0
business_id         0
text                0
date                0
compliment_count    0
dtype: int64

In [56]:
df_tip.duplicated().sum()

np.int64(67)

In [57]:
unique_counts = df_tip.nunique()

print("Conteo de valores únicos por columna:")
print(unique_counts)

Conteo de valores únicos por columna:
user_id             301758
business_id         106193
text                851033
date                906694
compliment_count         7
dtype: int64

In [58]:
df_tip.describe()

                                date  compliment_count
count                         908915     908915.000000
mean   2015-06-14 10:13:53.302817280          0.012525
min              2009-04-16 13:11:49          0.000000
25%       2013-01-26 01:18:02.500000          0.000000
50%              2015-03-15 01:10:25          0.000000
75%       2017-08-02 06:19:55.500000          0.000000
max              2022-01-19 20:38:55          6.000000
std                              NaN          0.120763

<h3 style="color: violet;">USER</h3>

In [59]:
df_user.columns

Index(['user_id', 'name', 'review_count', 'yelping_since', 'useful', 'funny',
       'cool', 'elite', 'friends', 'fans', 'average_stars', 'compliment_hot',
       'compliment_more', 'compliment_profile', 'compliment_cute',
       'compliment_list', 'compliment_note', 'compliment_plain',
       'compliment_cool', 'compliment_funny', 'compliment_writer',
       'compliment_photos'],
      dtype='object')

In [60]:
df_user.head(2)

,user_id,name,review_count,yelping_since,useful,funny,cool,elite,friends,fans,...,compliment_more,compliment_profile,compliment_cute,compliment_list,compliment_note,compliment_plain,compliment_cool,compliment_funny,compliment_writer,compliment_photos
0,qVc8ODYU5SZjKXVBgXdI7w,Walker,585,2007-01-25 16:47:26,7217,1259,5994,2007,"NSCy54eWehBJyZdG2iE84w, pe42u7DcCH2QmI81NX-8qA...",267,...,65,55,56,18,232,844,467,467,239,180
1,j14WgRoU_-2ZE1aw1dXrJg,Daniel,4333,2009-01-25 04:35:42,43091,13066,27281,"2009,2010,2011,2012,2013,2014,2015,2016,2017,2...","ueRPE0CX75ePGMqOFVj6IQ, 52oH4DrRvzzl8wh5UXyU0A...",3138,...,264,184,157,251,1847,7054,3131,3131,1521,1946

In [61]:
df_user.shape

(2105597, 22)

In [62]:
# tipos de datos
tipo_datos_user = df_user.dtypes
print(tipo_datos_user)

user_id                object
name                   object
review_count            int64
yelping_since          object
useful                  int64
funny                   int64
cool                    int64
elite                  object
friends                object
fans                    int64
average_stars         float64
compliment_hot          int64
compliment_more         int64
compliment_profile      int64
compliment_cute         int64
compliment_list         int64
compliment_note         int64
compliment_plain        int64
compliment_cool         int64
compliment_funny        int64
compliment_writer       int64
compliment_photos       int64
dtype: object

In [63]:
df_user.isnull().sum()

user_id               0
name                  0
review_count          0
yelping_since         0
useful                0
funny                 0
cool                  0
elite                 0
friends               0
fans                  0
average_stars         0
compliment_hot        0
compliment_more       0
compliment_profile    0
compliment_cute       0
compliment_list       0
compliment_note       0
compliment_plain      0
compliment_cool       0
compliment_funny      0
compliment_writer     0
compliment_photos     0
dtype: int64

In [64]:
df_user.duplicated().sum()

np.int64(117700)

In [65]:
df_user.describe()

,review_count,useful,funny,cool,fans,average_stars,compliment_hot,compliment_more,compliment_profile,compliment_cute,compliment_list,compliment_note,compliment_plain,compliment_cool,compliment_funny,compliment_writer,compliment_photos
count,2.105597e+06,2.105597e+06,2.105597e+06,2.105597e+06,2.105597e+06,2.105597e+06,2.105597e+06,2.105597e+06,2.105597e+06,2.105597e+06,2.105597e+06,2.105597e+06,2.105597e+06,2.105597e+06,2.105597e+06,2.105597e+06,2.105597e+06
mean,2.846875e+01,5.516853e+01,2.267667e+01,3.143013e+01,1.913746e+00,3.641863e+00,2.444596e+00,3.968618e-01,2.532631e-01,1.858665e-01,9.631663e-02,1.921464e+00,4.124809e+00,3.805567e+00,3.805567e+00,1.459133e+00,1.499514e+00
std,1.042146e+02,7.388068e+02,4.628811e+02,6.379274e+02,2.436510e+01,1.159519e+00,7.963704e+01,1.405658e+01,1.767698e+01,1.170051e+01,1.049796e+01,6.177753e+01,1.364953e+02,1.057484e+02,1.057484e+02,3.676692e+01,9.607754e+01
min,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,2.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,3.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
50%,6.000000e+00,3.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,3.880000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
75%,1.900000e+01,1.500000e+01,3.000000e+00,4.000000e+00,0.000000e+00,4.500000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
max,1.747300e+04,2.062960e+05,1.858230e+05,1.998780e+05,1.249700e+04,5.000000e+00,2.578400e+04,1.350100e+04,1.418000e+04,1.365400e+04,1.266900e+04,5.903100e+04,1.010970e+05,4.996700e+04,4.996700e+04,1.593400e+04,8.263000e+04

In [66]:
unique_counts = df_user.nunique()

print("Conteo de valores únicos por columna:")
print(unique_counts)

Conteo de valores únicos por columna:
user_id               1987897
name                   132361
review_count             1973
yelping_since         1980183
useful                   5349
funny                    3757
cool                     4532
elite                    1356
friends               1091999
fans                      691
average_stars             401
compliment_hot           1312
compliment_more           352
compliment_profile        345
compliment_cute           308
compliment_list           193
compliment_note          1010
compliment_plain         1663
compliment_cool          1604
compliment_funny         1604
compliment_writer         822
compliment_photos        1018
dtype: int64

<h3 style="color: violet;">REVIEW</h3>

In [67]:
df_review.columns

Index(['review_id', 'user_id', 'business_id', 'stars', 'useful', 'funny',
       'cool', 'text', 'date'],
      dtype='object')

In [68]:
df_review.shape

(6990280, 9)

In [69]:
# tipos de datos
tipo_datos_review = df_review.dtypes
print(tipo_datos_review)

review_id              object
user_id                object
business_id            object
stars                   int64
useful                  int64
funny                   int64
cool                    int64
text                   object
date           datetime64[ns]
dtype: object

In [70]:
df_review.isnull().sum()

review_id      0
user_id        0
business_id    0
stars          0
useful         0
funny          0
cool           0
text           0
date           0
dtype: int64

In [71]:
df_review.duplicated().sum()

np.int64(0)

In [72]:
unique_counts = df_review.nunique()

print("Conteo de valores únicos por columna:")
print(unique_counts)

Conteo de valores únicos por columna:
review_id      6990280
user_id        1987929
business_id     150346
stars                5
useful             259
funny              201
cool               210
text           6974127
date           6885665
dtype: int64